:root {
    --font: "Roboto";
    --color-black: #292929;
    --color-black-hover: #222222;
    --color-white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font), sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > * {
    font-family: inherit;
}
